:host {
  display: block;
  min-height: 100vh;
  background: #f4edff;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #6d28d9;
}

.world {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.building {
  width: 180px;
  text-align: center;
  padding: 20px;

  background: white;
  border: 4px solid #6d28d9;
  border-radius: 12px;

  cursor: pointer;
  transition: transform 0.2s;
}

.building:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 60px;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

.progress {
  color: #6d28d9;
  margin-top: 10px;
}